.startupProfile-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(80, 80, 80);
  width: 100%;
  height: 4rem;
  padding: 0rem 2rem;
}

.navbar-heading-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
}

.startupProfile-heading h3 {
  font-weight: 600;
  font-size: 1.3rem;
}

.nav-btnBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.main_page .startupProfile_Section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 2rem 0rem;
  padding: 0rem 2rem;
}

.countBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
  height: 12.5rem;
  background-color: #ffffff;
}

.countBox-items {
  display: flex;
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0px 0px 4px rgba(67, 67, 67, 0.25);
  width: 20rem;
  height: 5rem;
}

.countBox-icon {
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #332a7c;
  border-radius: 0.7rem;
  margin: 1rem;
}

.countBox-icon i {
  color: white;
  font-size: 1.5rem;
}

.countBox-textBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

.countBox-text {
  color: #686868;
  font-size: 1rem;
  font-weight: 600;
}

.countBox-count {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
}

.pieChartBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20rem;
  height: 12.5rem;
  padding: 0.3rem 0.6rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px rgba(67, 67, 67, 0.25);
}

.pieChartBox-title {
  width: 100%;
}

.pieChartBox-title span {
  font-size: 1rem;
  font-weight: 500;
}

.pieChartBox-pieChart {
  background: radial-gradient(circle closest-side, transparent 100%, #fff 0),
    conic-gradient(from 90deg, #ffa000 80%, #ffd59c 20%);
  min-width: 7rem;
  min-height: 7rem;
}

.pieChartBox-textBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.9rem;
}

.pieChartBox-ratioBox {
  width: fit-content;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ratio-items {
  margin-right: 0.5rem;
}

.pieChartBox-ratio {
  width: 0.9rem;
  height: 0.9rem;
}

.pieChartBox-ratio-title {
  font-size: 0.9rem;
  margin: 0rem 0.5rem;
}

.pieChartBox-ratio-count {
  font-size: 1rem;
  font-weight: 500;
}
/* Table  Heading Section */
.table-heading-section {
  width: 100%;
  margin: 0.5rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0rem 2rem;
}

.table-heading span {
  font-size: 1.1rem;
  font-weight: 500;
}

.filter-section-tools {
  width: fit-content;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-section-btn {
  width: auto;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-items {
  margin-left: 1rem;
  cursor: pointer;
}

.filter-section-btn button {
  background-color: #332a7c;
  border: none;
  border-radius: 0.4rem;
  color: white;
  text-align: center;
  width: 100%;
  height: 2.2rem;
  padding: 0rem 0.7rem;
  text-decoration: none;
  display: inline-block;
}

.filter-section-btn button span {
  font-size: 14px;
}

.filter-section-btn button i {
  margin-right: 0.6rem;
}

.filter-section-search {
  width: fit-content;
  height: 2.2rem;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 25%);
  border-radius: 0.4rem;
  padding: 0rem 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-section-search i {
  font-size: 1.5rem;
}

.filter-section-search input {
  font-size: 0.9rem;
  margin-left: 0.3rem;
  height: 100%;
  margin-right: 0.6rem;
}

.filter-section-filter {
  width: 2.2rem;
  height: 2.2rem;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 25%);
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-section-filter i {
  font-size: 1rem;
}

.filter-section-delete {
  width: 2.2rem;
  height: 2.2rem;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 25%);
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-section-delete i {
  font-size: 1rem;
  color: red;
}

.filter-section-download {
  width: 2.2rem;
  height: 2.2rem;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 25%);
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-section-download i {
  font-size: 1rem;
}
